SeaBattleClient/Connected Services/GameService/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SeaBattleGame" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SeaBattleGame" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetBattleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetStatus" type="tns:PlayerStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:simpleType name="PlayerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="InGame" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerStatus" nillable="true" type="tns:PlayerStatus" />
  <xs:complexType name="ArrayOfBattle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Battle" nillable="true" type="tns:Battle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBattle" nillable="true" type="tns:ArrayOfBattle" />
  <xs:complexType name="Battle">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetPlayerOne" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="GetPlayerTwo" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="GetStatus" type="tns:BattleStatus" />
      <xs:element minOccurs="0" name="GetTurnPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetWinner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Battle" nillable="true" type="tns:Battle" />
  <xs:simpleType name="BattleStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ShipsLocating" />
      <xs:enumeration value="InProcess" />
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BattleStatus" nillable="true" type="tns:BattleStatus" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Ships">
    <xs:sequence>
      <xs:element minOccurs="0" name="ships" nillable="true" type="tns:ArrayOfShip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ships" nillable="true" type="tns:Ships" />
  <xs:complexType name="ArrayOfShip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ship" nillable="true" type="tns:Ship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShip" nillable="true" type="tns:ArrayOfShip" />
  <xs:complexType name="Ship">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cells" nillable="true" type="tns:ArrayOfCell" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ship" nillable="true" type="tns:Ship" />
  <xs:complexType name="ArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" nillable="true" type="tns:Cell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
  <xs:complexType name="Cell">
    <xs:sequence>
      <xs:element minOccurs="0" name="_x" type="xs:int" />
      <xs:element minOccurs="0" name="_y" type="xs:int" />
      <xs:element minOccurs="0" name="hit" type="xs:boolean" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cell" nillable="true" type="tns:Cell" />
</xs:schema>