SeaBattleClient/Connected Services/GameService/GameService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://seabattlegame.azurewebsites.net/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SeaBattleGame" />
  <xs:element name="FindEnemy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEnemyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindEnemyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBattle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SeaBattleGame" minOccurs="0" name="one" nillable="true" type="q1:Player" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SeaBattleGame" minOccurs="0" name="two" nillable="true" type="q2:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBattleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBattleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBattle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBattleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartBattleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewPlayerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowOnlinePlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowOnlinePlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SeaBattleGame" minOccurs="0" name="ShowOnlinePlayersResult" nillable="true" type="q3:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
        <xs:element minOccurs="0" name="playerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeShotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeShotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipsLocate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SeaBattleGame" minOccurs="0" name="ships" nillable="true" type="q4:Ships" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipsLocateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipsLocateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SeaBattleGame" minOccurs="0" name="GetPlayerOneResult" nillable="true" type="q5:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerTwo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerTwoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SeaBattleGame" minOccurs="0" name="GetPlayerTwoResult" nillable="true" type="q6:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurnPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurnPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTurnPlayerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWinnerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>